.logo {
  height: 32px;
  margin: 16px;
  background: #ffffff;
  font-weight: bold;
  text-align: center;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout-sub-header-background {
    background: #141414;
  }